@media (max-width: 1400px) {


}

@media (max-width: 1000px) {
    
    html {
        font-size: 8px;
    }
}

@media (max-width: 800px) {
    html {
        font-size: 6px;
    }

}

@media (max-width: 600px) {
    html {
        font-size: 4px;
    }

}
