:root {
    --seasalt: #f8f9faff;
    --antiflash-white: #e9ecefff;
    --platinum: #dee2e6ff;
    --french-gray: #ced4daff;
    --french-gray-2: #adb5bdff;
    --slate-gray: #6c757dff;
    --outer-space: #495057ff;
    --onyx: #343a40ff;
    --eerie-black: #212529ff;
}

a {
    color: inherit;
    text-decoration: none;
    font-weight: inherit;
    font-size: inherit;
}

html {
    font-size: 10px;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    /*background-color: var(--antiflash-white);*/
    min-height: 100vh;
    background-color: grey;
}

.flexCol {
    display: flex;
    flex-flow: column;
}

.flexRow {
    display: flex;
    flex-flow: row;
}

.PadTop {
    padding-top: 5rem;
}

.PadTopSides {
    padding-top: 15rem;
}

/* ------ */
.horizantalLine {
    width: 0.2rem;
    background-color: black;
}

.sideFiller {
    flex: 1;
}

.flexOne {
    flex: 1;
}

/* ----- LEVEL 1 ----- */
main,
header,
aside {
    font-size: 2rem;
}

main {
    display: flex;
    flex: 4;
    align-items: center;
}

/* ----- LEVEL 2 ----- */
header>ul>li {
    padding: 1rem;
    font-weight: 700;
}

aside>ul>li {
    padding: 1rem;
    font-weight: 700;
}

main>h1 {
    font-size: 3rem;
}

main>h2 {
    font-size: 2rem;
    padding-top: 1rem;
}

main>picture {
    padding-top: 4rem;
}

/* ----- LEVEL 3 ----- */

.topic:hover {
    color: darkgreen;
}

.pointer:before {
    content: "\25CF";
    color: inherit;
    padding-right: 10px;
}

picture>img {
    max-height: 50rem;
}

aside>ul>li>a>img {
    height: 3rem;
}