:root {
    --seasalt: #f8f9faff;
    --antiflash-white: #e9ecefff;
    --platinum: #dee2e6ff;
    --french-gray: #ced4daff;
    --french-gray-2: #adb5bdff;
    --slate-gray: #6c757dff;
    --outer-space: #495057ff;
    --onyx: #343a40ff;
    --eerie-black: #212529ff;
}

html {
    font-size: 10px;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    background-color: var(--antiflash-white);
    min-height: 100vh;
    font-size: 2rem;
}

header {
    flex: 1;
    display: flex;
    flex-flow: column;
    padding-top: 20vh;
}

header>ul>li>.topic {
    flex-basis: 100%;
    padding: 0.5rem;
    color: black;
    text-decoration: none;
    font-weight: 700;
}

main {
    flex: 4;
    padding-top: 10vh;
}

.empty {
    height: inherit;
    width: 0.2rem;
    background-color: black;
}

header>ul>li {
    padding: 0.5em 0;
}

header>ul>li>.topic:hover {
    color:darkgreen;
}

.fill {
    flex: 1;
}

.pointer:before {
    content: "\25CF";
    color: inherit;
    padding-right: 10px;
}
main>h1{
    text-align: center;
    font-size: 3rem;
}
main>picture{
    display: flex;
    height: 500px;
    padding-top: 20px;
    justify-content: center;
}
main>h2{
    text-align: center;
}