.hL {
    width: 0.2rem;
    background-color: black;
}

/* ----- HEADER ----- */

header{
    display: flex;
    flex-flow: column;

    font-size: 2rem;
    padding-top: 15rem;

    flex: 1;
    padding-left: 2rem;
}

header>a {
    padding: 1rem 1rem 1rem 1rem;

    font-weight: 700;
}


header > a.topic:hover {
    color: darkgreen;
}

.topic.pointer:before {
    color: inherit;
    content: "\25CF";
    padding-right: 1rem;
}

/* ----- MAIN ----- */

main{
    display: flex;
    align-items: center;
    flex-flow: column;

    font-size: 2rem;
    padding-top: 5rem;
    gap: 4rem;

    flex: 4;
}

main>div.name {
    font-size: 6rem;
    text-shadow: 0px 0px 0.2em var(--onyx);
}

main>div.nickname {
    font-size: 5rem;
    padding-top: 1rem;
}

main>.portrait {
    padding-top: 4rem;
    max-height: 50rem;
}

/* ----- ASIDE ----- */

aside {
    display: flex;
    flex-flow: column;
    font-size: 2rem;
    padding-top: 15rem;
    flex: 1;
}

aside>a {
    font-weight: 700;
    display: inline-flex;
    padding: 1rem 2rem 1rem 1rem;
    margin-right: auto;
    
}

aside>a>img {
    height: 2em;
    width: auto; /* Maintain aspect ratio */
    display: block; /* Ensures no extra space below the image */
}


.box {
    border-radius: 1rem;
    width: 40%;
    padding: 1rem;
    display: flex;
    justify-content: center;
}
.box > img{
    width: 100%;
    height: auto;
    border: 1rem solid var( --outer-space);
    box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.1);    
    transition: transform 0.2s ease-in-out;

}
.box > img:hover{
    transform: scale(1.01);
    cursor: pointer;
}

aside > a:nth-last-child(1), aside > a:nth-last-child(2){
    word-break: break-all;
}
.second{
    width: 100%;

}
.logo{    
    border-radius: 1rem;
    width: 40%;
    padding: 1rem;
    padding-bottom: 4rem;
    display: flex;
    justify-content: center;
}
.logo > img{
    width: 80%;
    height: auto;
    border: 1rem solid var( --outer-space);
    box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.1);    
    transition: transform 0.2s ease-in-out;
    border-radius: 20em;
}


.name{
    font-size: 6em;
}