.hL {
    width: 0.2rem;
    background-color: black;
}

/* ----- HEADER ----- */

header{
    display: flex;
    flex-flow: column;

    font-size: 2rem;
    padding-top: 15rem;

    flex: 1;
}

header>a {
    padding: 1rem;
    font-weight: 700;
}


header > a.topic:hover {
    color: darkgreen;
}

.topic.pointer:before {
    color: inherit;
    content: "\25CF";
    padding-right: 1rem;
}

/* ----- MAIN ----- */

main{
    display: flex;
    align-items: center;
    flex-flow: column;

    font-size: 2rem;
    padding-top: 5rem;

    flex: 4;
}

main>div.name {
    font-size: 3rem;
}

main>div.nickname {
    font-size: 2rem;
    padding-top: 1rem;
}

main>.portrait {
    padding-top: 4rem;
    max-height: 50rem;
}

/* ----- ASIDE ----- */

aside {
    display: flex;
    flex-flow: column;
    font-size: 2rem;
    padding-top: 15rem;
    flex: 1;
}

aside>a {
    font-weight: 700;
    display: inline-flex;
    padding: 1rem 2rem 1rem 1rem;
    margin-right: auto;
    
}

aside>a>img {
    height: 2em;
    width: auto; /* Maintain aspect ratio */
    display: block; /* Ensures no extra space below the image */
}