.cover {
    padding: 4rem 0;
}

.titleText {
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 3rem;
    padding-bottom: 2rem;
}

.titleText>span {
    border-bottom: 0.4rem solid black;
    width: 80%;
    text-align: center;
}

.container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    flex-wrap: wrap;

    width: 90%;
    padding: 4rem 0 0 0;
    margin: auto;
    justify-content: space-around;
}


.box {
    width: 25rem;
    margin: 1rem 2rem;

}

.box img {
    width: 100%;
    transition: transform 1s ease-in-out;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .6);
}

.box img:hover {
    box-shadow: none;
    z-index: 2;
}

#img_1:hover {
    transform: scale(5) translate(0%, 20%);
}

#img_2:hover {
    transform: scale(5) translate(40%, -10%);
}

#img_3:hover {
    transform: scale(5) translate(20%, -30%);
}

#img_4:hover {
    transform: scale(2.2) translate(0%, -26%);
}

/* clip-path: inset(51% 71% 18% 0%); */
/* 
width: inherit;
max-width: 40%;
padding: 1rem; */